/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========== Actual styles ======================================> */

*
{
    box-sizing: border-box;
}

body
{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-size: 16px;
}

#WeatherListWrapper, #DetailView
{
    min-height: 100vh;
}

#WeatherList
{
    width: 100%;
}

#WeatherList > li
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.SummaryContent, .SummaryDelete
{
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.SummaryDelete
{
    background-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 18px;
}

.BtnDelete
{
    height: 64px;
    width: 64px;
    background: no-repeat center/cover url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-trash' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z'/%3E%3Cpath d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z'/%3E%3C/svg%3E");
}

.SummaryContent
{
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.SummaryLeft
{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.SummaryLocation
{
    font-weight: bold;
    font-size: 120%;
}

.SummaryTemp
{
    font-weight: 300;
    font-size: 300%;
    text-align: right;
}

#DetailCurrent, #DetailHourly
{
    text-align: center;
}

#DetailCurrentTemp
{
    padding: 128px 0px 20px 0px;
}

#DetailCurrentTempValue
{
    font-size: 600%;
    font-weight: lighter;
}

#DetailCurrentTempUnit
{
    font-size: 150%;
}

#DetailCurrentTime
{
    margin: 8px 0px 32px 0px;
}

#DetailHourly
{
    display: flex;
    overflow-x: scroll;
    border-top: solid 1px color-mix(in srgb, currentColor 10%, transparent);
    border-bottom: solid 1px color-mix(in srgb, currentColor 10%, transparent);
}

.DetailHourlyChild
{
    padding: 10px;
}

.DetailHourlyCondition
{
    font-size: 200%;
    margin-bottom: 8px;
}

.DetailHourlyTemp
{
    margin-bottom: 4px;
}

#DetailDaily
{
    margin-top: 10px;
}

.DetailDailyChild
{
    display: flex;
    padding: 10px;
    align-items: center;
}

.DetailDailyWeekday
{
    min-width: 10em;
}

.DetailDailyCondition
{
    flex-grow: 1;
    font-size: 150%;
}

.DetailDailyTempMax, .DetailDailyTempMin
{
    width: 3em;
    text-align: right;
}

.DetailDailyTempMin
{
    opacity: 0.7;
}

#SearchBar
{
    padding: 6px;
}

#TextSearch
{
    all: unset;
    background-color: color-mix(in srgb, currentColor 15%, transparent);
    border-radius: 1em;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

.SearchResult
{
    padding: 8px;
    border-bottom: 1px #888 solid;
}
